# HTTP Client for communicating with the Lamatic GraphQL API
requests>=2.31.0

# Vector Database Client for storing embeddings
qdrant-client==1.10.0

#dotenv to load environment variables
python-dotenv

